spirng-debug/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.fjy.com/schema/user"
		xmlns:tns="http://www.fjy.com/schema/user"
		elementFormDefault="qualified">

	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="username" type="xsd:string"/>
			<xsd:attribute name="email" type="xsd:string"/>
			<xsd:attribute name="password" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
